# ==========================================
# AI ROBOT - WINDOWS DEPENDENCIES
# ==========================================

# === Core HTTP (Required) ===
requests==2.32.3
urllib3==2.2.1

# === Audio Recording / Playback ===
# PyAudio is the main backend for Windows
pyaudio==0.2.14
#opencv-python==4.10.0.84

# sounddevice works cross-platform and lighter than PyAudio
sounddevice==0.4.7


# === Utilities ===
numpy==1.26.4

# Environment & Configuration
python-dotenv==1.0.1

